#root {
  display: flex;
  height: 100%;
}

html {
  overflow-y: hidden;
  height: 100%;
}

body {
  margin: 0;
  background-color: #f2f4f7;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
  background-color: #f2f4f7;
  /* overflow-y: hidden; */
  height: 100%;
}

.hidden {
  display: none;
}

.visible {
  display: inline;
}

.hamburger-open {
  display: none;
}

.main-content {
  margin-left: 240px;
  padding: 80px 84px 0 84px;
  display: grid;
  width: calc(100% - 240px);
  gap: 36px;
  overflow-x: auto;
  position: relative;
  grid-auto-flow: column;
  grid-auto-columns: 320px;
}

.main-content__section {
  overflow-y: auto;
  height: 100%;
}

.main-content__section-title {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.0075em;
  text-transform: uppercase;
  color: #667085;
  margin-bottom: 32px;
  font-family: "Karla", sans-serif;
}

.main-content__add-task {
  width: 56px;
  height: 56px;
  background-color: #1d2939;
  color: #fcfcfd;
  border: none;
  border-radius: 50%;
  position: fixed;
  bottom: 56px;
  right: 56px;
  cursor: pointer;
}

.main-content__add-icon {
  width: 32px;
}

.side-nav {
  width: 192px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px;
}

.side-nav__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
}

.side-nav__list-element {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px 12px 6px;
}

.side-nav__list-element:hover {
  background-color: #f2f4f7;
  border-radius: 8px;
  cursor: pointer;
}

.side-nav__list-element:hover .side-nav__source-desc {
  color: #1d2939;
}

.side-nav__list-element:hover .side-nav__list-count {
  background-color: #1d2939;
  color: #ffffff;
}

.side-nav__source {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;
  color: #667085;
  font-family: "Karla", sans-serif;
  width: 100%;
  justify-content: space-between;
}

.side-nav__element {
  display: flex;
  gap: 10px;
}

.side-nav__length {
  background-color: #f2f4f7;
  color: #1d2939;
  padding: 5px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
}

.side-nav__list-element:hover .side-nav__length {
  background-color: #1d2939;
  color: #ffffff;
}

.side-nav__source-img {
  width: 16px;
  height: 16px;
  background-size: cover;
}

.side-nav__source-tasks {
  background-image: url(./assets/tasks.svg);
}

.side-nav__list-element:hover .side-nav__source-tasks {
  background-image: url(./assets/tasks-hover.svg);
}

.side-nav__source-users {
  background-image: url(./assets/users.svg);
  width: 14px;
  height: 17px;
}

.side-nav__list-element:hover .side-nav__source-users {
  background-image: url(./assets/users-hover.svg);
}

.side-nav__source-columns {
  background-image: url(./assets/columns.svg);
  height: 18px;
}

.side-nav__list-element:hover .side-nav__source-columns {
  background-image: url(./assets/columns-hover.svg);
}

.side-nav__source-tags {
  background-image: url(./assets/tags.svg);
}

.side-nav__list-element:hover .side-nav__source-tags {
  background-image: url(./assets/tags-hover.svg);
}

.side-nav__source-desc {
  margin: 0;
}

.side-nav__list-count {
  background: #f2f4f7;
  border-radius: 6px;
  border: none;
  padding: 2.5px 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.0075em;
  color: #344054;
  font-family: "Karla", sans-serif;
}

.new-task__container-add {
  position: absolute;
  width: 602px;
  height: 494px;
  background-color: #fcfcfd;
  padding: 70px 70px 20px 70px;
  border-radius: 8px;
}

.new-task__element-title,
.new-task__element-description,
.new-task__element-link,
.new-task__element-comment {
  display: flex;
  flex-direction: column;
}

.new-task__list {
  padding-left: 0;
  margin-top: 13px;
  margin-bottom: 0;
}

.new-task__list-element {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #98a2b3;
  font-family: "Karla", sans-serif;
  list-style: none;
}

.new-task__label-title,
.new-task__label-description,
.new-task__label-link,
.new-task__label-tags,
.new-task__label-date,
.new-task__label-assignee,
.new-task__label-column,
.new-task__label-comment,
.new-task__user {
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #71757b;
  font-family: "Karla", sans-serif;
}

.new-task__input-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #98a2b3;
  border: none;
  padding: 0;
  outline: none;
  background-color: #fcfcfd;
  font-family: "Karla", sans-serif;
}

.new-task__label-description,
.new-task__label-link,
.new-task__label-tags,
.new-task__label-date,
.new-task__label-assignee,
.new-task__label-column,
.new-task__label-comment {
  margin-top: 10px;
  margin-bottom: 0;
}

.new-task__date-assigne {
  display: flex;
  gap: 20px;
}

.new-task__label-assignee,
.new-task__label-column {
  margin-bottom: 5px;
}

.new-task__input-description,
.new-task__input-comment {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #98a2b3;
  border: none;
  outline: none;
  padding: 0;
  background-color: #fcfcfd;
  font-family: "Karla", sans-serif;
}

.new-task__input-comment {
  margin-top: 5px;
}

.new-task__list-delete {
  color: #1d2939;
}

.new-task__input-link,
.rti--input,
.rti--tag {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #98a2b3;
  border: none;
  outline: none;
  padding: 0;
  background-color: #fcfcfd;
  font-family: "Karla", sans-serif;
}

.rti--input {
  width: 100%;
}

.rti--container {
  margin-top: 5px;
  width: 50%;
}

.react-datepicker__input-container {
  margin-top: 5px;
}

.new-task__container-choose {
  display: flex;
  gap: 20px;
}

.new-task__button-cancel,
.new-task__button-save {
  padding: 8px;
  font-family: "Karla";
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  font-family: "Karla", sans-serif;
  color: #1d2939;
  border: 1px solid #c9d2e1;
  border-radius: 8px;
  background: #ffffff;
  position: absolute;
  bottom: 20px;
  right: 110px;
  cursor: pointer;
}

.new-task__button-save {
  position: absolute;
  padding: 8px 16px;
  background-color: #1d2939;
  color: #ffffff;
  bottom: 20px;
  right: 20px;
}

.new-task__select-assignee,
.new-task__select-column,
.new-task__select-tags {
  background: #ffffff;
  border: 1px solid #c9d2e1;
  border-radius: 8px;
  padding: 8px;
  color: #98a2b3;
  width: 140px;
  cursor: pointer;
  appearance: none;
  background-image: url(./assets/arrow.svg);
  background-position: 116px 8px;
  background-repeat: no-repeat;
}

.new-task__tags-instruction {
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #71757b;
  font-family: "Karla", sans-serif;
}

.new-task__tags-input_suggestions {
  display: flex;
  margin-top: 5px;
  gap: 20px;
}

.new-task__tags-suggestions {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  height: 33px;
  overflow-x: auto;
  cursor: pointer;
}

.new-task__tags-suggestions_element {
  border: 1px solid #c9d2e1;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 15px;
  padding: 3px 9px;
  font-size: 10px;
}

.new-task__tags-selected {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  cursor: pointer;
}

.new-task__select-tags {
  background-image: none;
}

.new-task__tag-selected {
  border-radius: 6px;
  padding: 6px 12px;
}

.react-datepicker__input-container input[type="text" i] {
  cursor: pointer;
}

.new-task__select-column {
  text-transform: uppercase;
  background-color: #c9d2e1;
}

.new-task__select-column__select-hidden {
  background: #ffffff;
  border: 1px solid #c9d2e1;
  border-radius: 8px;
  padding: 8px;
  color: #98a2b3;
  width: 140px;
  cursor: pointer;
  appearance: none;
  background-image: url(./assets/arrow.svg);
  background-position: 116px 8px;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.react-datepicker__input-container input[type="text" i] {
  background: #ffffff;
  border: 1px solid #c9d2e1;
  border-radius: 8px;
  padding: 9px 8px 8px 8px;
  color: #98a2b3;
  width: 140px;
}

.simple-task__container {
  width: 280px;
  background-color: #fcfcfd;
  border-radius: 8px;
  box-shadow: 0px 0.5px 2px rgba(16, 24, 40, 0.3);
  margin: auto;
  padding: 20px;
  margin-top: 24px;
  cursor: pointer;
}

.simple-task__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  font-family: "Karla", sans-serif;
  color: #1d2939;
  margin: 0;
}

.simple-task__date-assignee {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 6px;
}

.simple-task__dot-img {
  width: 4px;
}

.simple-task__description {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: -0.02em;
  font-family: "Karla", sans-serif;
  color: #98a2b3;
  margin-top: 16px;
  margin-bottom: 0;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.simple-task__link-details {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 16px;
}

.simple-task__link-desc {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.02em;
  font-family: "Karla", sans-serif;
  color: #98a2b3;
  margin: 0;
}

.simple-task__link-img {
  width: 18px;
}

.simple-task__date,
.simple-task__assignee-to,
.simple-task__assignee-who {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  font-family: "Karla", sans-serif;
  color: #98a2b3;
  margin: 0;
}

.simple-task__assignee-details {
  display: flex;
  gap: 5px;
}

.simple-task__assignee-who {
  color: #667085;
}

.simple-task__tags-list {
  padding: 0;
  display: flex;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.simple-task__tags-element {
  list-style: none;
  background: #f2f4f7;
  border-radius: 6px;
  padding: 6px 12px;
  width: fit-content;
}

.simple-task__comments-details {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-top: 16px;
  margin-bottom: 0;
}

.simple-task__comments-desc {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.02em;
  font-family: "Karla", sans-serif;
  color: #98a2b3;
  margin: 0;
}

.simple-task__comments-img {
  width: 24px;
}

.add-task_overlay {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

a:-webkit-any-link {
  text-decoration: none;
}

.new-user-img {
  border-radius: 50%;
  border: 1px solid #c9d2e1;
  height: 132px;
  width: 132px;
  background-color: #ffffff;
}

.new-task__container {
  display: flex;
  gap: 30px;
}

.simple-task__info-img {
  border-radius: 50%;
  width: 57px;
  height: 57px;
  background-size: cover;
  background-repeat: round;
}

.simple-task__container-info {
  display: flex;
  justify-content: space-between;
}

.new-user-img {
  background-size: cover;
  background-repeat: round;
}

.main-content__reusable {
  margin-left: 240px;
  padding: 80px 84px 0 84px;
  width: calc(100% - 240px);
}

.main-content__section__reusable {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.main-content__section-elements {
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 24px;
}

.simple-task__container__reusable {
  margin: 0;
}

.simple-task__info_date_reusable {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: -0.02em;
  font-family: "Karla", sans-serif;
  color: #98a2b3;
}

@media all and (max-width: 768px) {
  .main-content {
    margin: 0;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    gap: 10px;
    padding: 80px 10px 152px 10px;
    position: relative;
  }

  .side-nav {
    z-index: 1;
    /* display: none; */
  }

  /* .navigation-overlay {
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
  }

  .navigation-overlay_closed {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  } */

  .hamburger-open {
    background-image: url(./assets/hamburger-open.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 25px;
    position: fixed;
    top: 20px;
    right: 9px;
    display: inline;
    border: none;
    z-index: 2;
    background-color: transparent;
  }

  .new-task__container-add {
    top: 0;
    left: 0;
    bottom: -100px;
    right: 0;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    padding: 30px;
    height: 106vh;
  }

  .new-task__date-assigne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .new-task__input-title {
    font-size: 34px;
  }

  .new-task__input-description {
    font-size: 18px;
  }

  .new-task__container-choose {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  .new-task__button-save {
    bottom: 30px;
    right: 30px;
  }

  .new-task__button-cancel {
    bottom: 30px;
    right: 121px;
  }

  .rti--container {
    width: 95%;
  }

  .main-content__add-task {
    bottom: 25px;
    right: 25px;
  }
}
